__pycache__/
*.pyc
.env
.venv/
env/
venv/
virtualenv/
*.sql
*.gz
*.tar.gz
*.log
backups/
bs4env/
temp_clone/
temp_update/
recovery_backup_2300/
BACKUP_MTConnect_V2_FULL_*/
nginx-proxy-manager/data/logs/
nginx-proxy-manager/letsencrypt/archive/
nginx-proxy-manager/letsencrypt/accounts/
nginx-proxy-manager/letsencrypt/live/
postgres_data/
node_modules/
.DS_Store
*.zip
*.py_backup
config_backup
env_backup
motor.log
__pycache__/
*.pyc
*/__pycache__/
nginx-proxy-manager/letsencrypt/credentials/
instances/
Terminal ID: 12510
nginx-proxy-manager/data/database.sqlite
