[Unit]
Description=Configurar Fans e Rede Giga LAN ao iniciar
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/kennyacre/mtconnect_v2/configurar_hardware.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
